
img .logo {
	display: inline;
	margin-left: 0;
	margin-rigaft: auto;
	width: 30%;
	padding-top: 35px;
	padding-bottom: 20px;
}

.menu {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	padding-top: 20px;
	margin: 20px 30px 20px 40px;
}


nav.menu {
	position: absolute;
	top: 110px;
	right: 40px;
}

nav li {
	display: inline;
	margin: 15px;
}


.header-animalia {
	padding: auto;
}

header .header-animalia {
	background-color: #d3dae1;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-size: 22px;
	text-decoration: none;
	margin: 15px;
}


nav a:hover {
	color: #005942;
	font-weight: bold;
	text-decoration: unset;
}


img .banner-pets {
	position: relative;
	width: 60%;
	margin: 0;
	padding-bottom: 0;
	padding-top: 10px;
}

img.banner-sobre {
	position: relative;
	width: 60%;
	align-content: center;
	padding-bottom: 0;
	padding-left: 0;	
	padding-right: 0;
	margin: 0;
}

.x {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;
}


.pHome {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	text-align: justify;
	margin: 20px 60px 20px 40px;
}

.title-home {
	font-family: 'Poppins';
	font-size: 35px;
	color: #005942;
	margin: 20px 60px 20px 60px;
	padding-top: 10px;
}

.title-home-center {
	font-family: 'Poppins';
	font-size: 35px;
	text-align: center;
	color: #005942;
	margin: 20px 60px 20px 60px;
	padding-top: 10x;
}


.descricao {
	margin-bottom: 100px;
	width: 80%;
	background: transparent;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	text-align: justify;
	margin: 20px 60px 20px 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


p {
	font-family: "Arial";
	font-size: 14px;
	text-align: justify;
}

h4,h5,h6,a {
	font-family: "Arial";
	font-size: 35px;
	color: darkblue;
}


section.center, p.center, input.center {
	text-align: center;
}

section.center {
	padding-bottom: 100px;
}

p.center {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

.img-center {
	width: 150px;
	padding: 0;
	margin-bottom: 0;
}

.title-v2 {
	font-family: 'Poppins';
	font-size: 28px;
	color: #005942;
	margin: 0px 40px 20px 30px;
	padding: 10px;
}


.enviarV2 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: normal;
	margin-right: 0;
	margin-left: 0;
	color: #000000;
	border: 0;
	border-color: ;
	background-color: #005942;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}


footer {
	font-family: "Arial" italic;
	color: #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px 30px 30px 0;
	background-color: #d3dae1;
}


.copyright {
	text-align: center;
	color: #000000;
	font-size: 13px;
	text-decoration: blink;
	margin: 20px auto;
}


div {
	width: 650px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

div .div1 {

}


#div1 {
	padding: 0;
	margin: 0;
}

div #div2 {
	padding-top: 0;
	margin-top: 0;
}


p.pHome {
	margin: 20px 60px;
}

.pContacto {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: justify;
}

label.pContacto {
	margin: 20px 60px;
}

input.pHome {
	margin: 20px 60px;
}

textarea#mensagem.input-padrao {
	margin: 20px 60px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	margin: auto;
	margin: 40px 60px 20px 40px;
	width: 50%;
}

.enviar {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-right: 0;
	margin-left: 0;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

div.enviar {
	height: 0em;
	position: relative;
}

div.enviar input {
	margin: 0;
	background: #005942;
	position: absolute;
	top: 20%;
	left: 30%;
	margin-right: auto;
	transform: translate(-50%, -50%);
}


.contacto {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.img-contacto {
	width: 67%;
	height: 67%;
	margin: 0px;
	padding-bottom: 0;
	padding-top: 0;
}


.lista {
	color: #005942;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 20px;
	margin: 20px 60px 40px 40px;
}


.lista-servicos {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}



section.lista {
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	width: 30px;
	text-align: center;
}

section .lista img {
	width: 50%;
	height: 50%;
	margin-left: 0;
	margin-right: auto;
	width: 20em;
	padding-left: 10px;
}
